=begin
#Subfi Pay API

#API for Subfi Pay services

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module SubfiPay
  class MerchantsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new merchant
    # @param x_api_version [String] 
    # @param merchant_create_request [MerchantCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantResponse]
    def create_merchant(x_api_version, merchant_create_request, opts = {})
      data, _status_code, _headers = create_merchant_with_http_info(x_api_version, merchant_create_request, opts)
      data
    end

    # Create a new merchant
    # @param x_api_version [String] 
    # @param merchant_create_request [MerchantCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantResponse, Integer, Hash)>] MerchantResponse data, response status code and response headers
    def create_merchant_with_http_info(x_api_version, merchant_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantsApi.create_merchant ...'
      end
      # verify the required parameter 'x_api_version' is set
      if @api_client.config.client_side_validation && x_api_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_version' when calling MerchantsApi.create_merchant"
      end
      # verify the required parameter 'merchant_create_request' is set
      if @api_client.config.client_side_validation && merchant_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_create_request' when calling MerchantsApi.create_merchant"
      end
      # resource path
      local_var_path = '/merchants'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end
      header_params[:'X-Api-Version'] = x_api_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(merchant_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key']

      new_options = opts.merge(
        :operation => :"MerchantsApi.create_merchant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantsApi#create_merchant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a merchant by ID
    # @param x_api_version [String] 
    # @param id [String] The ID of the merchant to retrieve
    # @param [Hash] opts the optional parameters
    # @return [MerchantResponse]
    def get_merchant(x_api_version, id, opts = {})
      data, _status_code, _headers = get_merchant_with_http_info(x_api_version, id, opts)
      data
    end

    # Retrieve a merchant by ID
    # @param x_api_version [String] 
    # @param id [String] The ID of the merchant to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantResponse, Integer, Hash)>] MerchantResponse data, response status code and response headers
    def get_merchant_with_http_info(x_api_version, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantsApi.get_merchant ...'
      end
      # verify the required parameter 'x_api_version' is set
      if @api_client.config.client_side_validation && x_api_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_version' when calling MerchantsApi.get_merchant"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MerchantsApi.get_merchant"
      end
      # resource path
      local_var_path = '/merchants/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Api-Version'] = x_api_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key']

      new_options = opts.merge(
        :operation => :"MerchantsApi.get_merchant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantsApi#get_merchant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all merchants
    # @param x_api_version [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of results to retrieve.
    # @option opts [Integer] :per_page Number of results per page.
    # @return [ListMerchantsResponse]
    def list_merchants(x_api_version, opts = {})
      data, _status_code, _headers = list_merchants_with_http_info(x_api_version, opts)
      data
    end

    # List all merchants
    # @param x_api_version [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The page of results to retrieve.
    # @option opts [Integer] :per_page Number of results per page.
    # @return [Array<(ListMerchantsResponse, Integer, Hash)>] ListMerchantsResponse data, response status code and response headers
    def list_merchants_with_http_info(x_api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MerchantsApi.list_merchants ...'
      end
      # verify the required parameter 'x_api_version' is set
      if @api_client.config.client_side_validation && x_api_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_version' when calling MerchantsApi.list_merchants"
      end
      # resource path
      local_var_path = '/merchants'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Api-Version'] = x_api_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListMerchantsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key']

      new_options = opts.merge(
        :operation => :"MerchantsApi.list_merchants",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MerchantsApi#list_merchants\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
