=begin
#Subfi Pay API

#API for Subfi Pay services

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module SubfiPay
  class SetupIntentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Confirm a setup intent
    # @param x_api_version [String] 
    # @param x_account_id [String] 
    # @param id [String] The ID of the setup intent to confirm
    # @param setup_intent_confirm_request [SetupIntentConfirmRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SetupIntentResponse]
    def confirm_setup_intent(x_api_version, x_account_id, id, setup_intent_confirm_request, opts = {})
      data, _status_code, _headers = confirm_setup_intent_with_http_info(x_api_version, x_account_id, id, setup_intent_confirm_request, opts)
      data
    end

    # Confirm a setup intent
    # @param x_api_version [String] 
    # @param x_account_id [String] 
    # @param id [String] The ID of the setup intent to confirm
    # @param setup_intent_confirm_request [SetupIntentConfirmRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SetupIntentResponse, Integer, Hash)>] SetupIntentResponse data, response status code and response headers
    def confirm_setup_intent_with_http_info(x_api_version, x_account_id, id, setup_intent_confirm_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SetupIntentsApi.confirm_setup_intent ...'
      end
      # verify the required parameter 'x_api_version' is set
      if @api_client.config.client_side_validation && x_api_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_version' when calling SetupIntentsApi.confirm_setup_intent"
      end
      # verify the required parameter 'x_account_id' is set
      if @api_client.config.client_side_validation && x_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_id' when calling SetupIntentsApi.confirm_setup_intent"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SetupIntentsApi.confirm_setup_intent"
      end
      # verify the required parameter 'setup_intent_confirm_request' is set
      if @api_client.config.client_side_validation && setup_intent_confirm_request.nil?
        fail ArgumentError, "Missing the required parameter 'setup_intent_confirm_request' when calling SetupIntentsApi.confirm_setup_intent"
      end
      # resource path
      local_var_path = '/embed/setup_intents/{id}/confirm'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end
      header_params[:'X-Api-Version'] = x_api_version
      header_params[:'X-Account-Id'] = x_account_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(setup_intent_confirm_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SetupIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key']

      new_options = opts.merge(
        :operation => :"SetupIntentsApi.confirm_setup_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SetupIntentsApi#confirm_setup_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new setup intent
    # @param x_api_version [String] 
    # @param x_account_id [String] 
    # @param setup_intent_create_request [SetupIntentCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SetupIntentResponse]
    def create_setup_intent(x_api_version, x_account_id, setup_intent_create_request, opts = {})
      data, _status_code, _headers = create_setup_intent_with_http_info(x_api_version, x_account_id, setup_intent_create_request, opts)
      data
    end

    # Create a new setup intent
    # @param x_api_version [String] 
    # @param x_account_id [String] 
    # @param setup_intent_create_request [SetupIntentCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SetupIntentResponse, Integer, Hash)>] SetupIntentResponse data, response status code and response headers
    def create_setup_intent_with_http_info(x_api_version, x_account_id, setup_intent_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SetupIntentsApi.create_setup_intent ...'
      end
      # verify the required parameter 'x_api_version' is set
      if @api_client.config.client_side_validation && x_api_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_version' when calling SetupIntentsApi.create_setup_intent"
      end
      # verify the required parameter 'x_account_id' is set
      if @api_client.config.client_side_validation && x_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_id' when calling SetupIntentsApi.create_setup_intent"
      end
      # verify the required parameter 'setup_intent_create_request' is set
      if @api_client.config.client_side_validation && setup_intent_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'setup_intent_create_request' when calling SetupIntentsApi.create_setup_intent"
      end
      # resource path
      local_var_path = '/setup_intents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
        header_params['Content-Type'] = content_type
      end
      header_params[:'X-Api-Version'] = x_api_version
      header_params[:'X-Account-Id'] = x_account_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(setup_intent_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SetupIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key']

      new_options = opts.merge(
        :operation => :"SetupIntentsApi.create_setup_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SetupIntentsApi#create_setup_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a setup intent by ID
    # @param x_api_version [String] 
    # @param x_account_id [String] 
    # @param id [String] The ID of the setup intent to retrieve
    # @param [Hash] opts the optional parameters
    # @return [SetupIntentResponse]
    def get_setup_intent(x_api_version, x_account_id, id, opts = {})
      data, _status_code, _headers = get_setup_intent_with_http_info(x_api_version, x_account_id, id, opts)
      data
    end

    # Retrieve a setup intent by ID
    # @param x_api_version [String] 
    # @param x_account_id [String] 
    # @param id [String] The ID of the setup intent to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(SetupIntentResponse, Integer, Hash)>] SetupIntentResponse data, response status code and response headers
    def get_setup_intent_with_http_info(x_api_version, x_account_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SetupIntentsApi.get_setup_intent ...'
      end
      # verify the required parameter 'x_api_version' is set
      if @api_client.config.client_side_validation && x_api_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_version' when calling SetupIntentsApi.get_setup_intent"
      end
      # verify the required parameter 'x_account_id' is set
      if @api_client.config.client_side_validation && x_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_id' when calling SetupIntentsApi.get_setup_intent"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SetupIntentsApi.get_setup_intent"
      end
      # resource path
      local_var_path = '/embed/setup_intents/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Api-Version'] = x_api_version
      header_params[:'X-Account-Id'] = x_account_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SetupIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['X-Api-Key']

      new_options = opts.merge(
        :operation => :"SetupIntentsApi.get_setup_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SetupIntentsApi#get_setup_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
